<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!-- <script src="jquery/jquery.min.js"></script> -->
    <script src="vue/vue.global.js"></script>
    <script src="vue/vue-router.global.js"></script>
    <title>Registration</title>
</head>
<body>
    <div id="app">
        <nav>
            <ul>
                <li v-for="(menu, i) in menus" v-show="menu.show"><a :href="menu.url" @click="check(i)">{{menu.name }}</a></li>
            </ul>

            <!-- <router-view></router-view> -->
        </nav>
        <h3>Index | Gallery</h3>
        <input type="text" name="search" v-model="searchText" placeholder="Search" @keyup.enter="search">
        <h4>{{sketchesIndex}} Sketch(es)</h4>
        <table border="0">
            <tbody>
                <tr v-for="(row, j) in tableRowsIndex">
                    <td  v-for="(item, i) in row"  v-bind:style="{ backgroundImage: 'url(' + item.dataURL + ')' }" class="sketch-border" @click="view(getIndex(item.date))"><div class="drawing-title">{{ item.imageTitle }}</div></td>
                </tr>
            </tbody>
        </table>
        <div id="modal" v-show="showModal">
            <div id="close-modal"><a href="#" @click="closeModal">X</a></div>
            <div id="modal-content">
                <h3>{{modalTitle}}</h3>
                <h5>{{modalUser}} || {{ new Date(modalDate)}}</h5>
                <div id="modal-image" v-bind:style="{ backgroundImage: 'url(' + modalImage + ')' }">
                </div>
            </div>
            <button id="download-btn" @click="download(modalImage)">Download</button>
        </div>
    </div>
    <script type="module" src="./js/main.js"></script>
</body>
</html>